name: Main

on: push

jobs:
  test:
    name: Test
    if: ${{ !startsWith(github.head_ref, 'ci-release-v') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18
      - name: Install
        run: yarn
      - name: Test
        run: yarn test --coverage

  dist:
    name: Generate Binary
    if: ${{ !startsWith(github.head_ref, 'ci-release-v') }}
    strategy:
      matrix:
        os: ['macos-latest', 'ubuntu-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18
      - name: Install
        run: yarn
      - name: Generate macOS binary
        if: ${{ matrix.os == 'macos-latest' }}
        run: yarn dist:macos
      - name: Generate Linux binary
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: yarn dist:linux
      - name: Generate Windows binary
        if: ${{ matrix.os == 'windows-latest' }}
        run: yarn dist:windows
      - name: Upload binary
        uses: actions/upload-artifact@v3
        with:
          name: binaries
          path: |
            ./dist/deliverable-linux-x64
            ./dist/deliverable-macos-x64
            ./dist/deliverable-windows-x64.exe

  release:
    name: Release
    if: ${{ !startsWith(github.head_ref, 'ci-release-v') && github.ref == 'refs/heads/main' }}
    needs: [test, dist]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Download binaries
        uses: actions/download-artifact@v3
        with:
          name: binaries
          path: |
            ./dist/deliverable-linux-x64
            ./dist/deliverable-macos-x64
            ./dist/deliverable-windows-x64.exe
      - name: Setup
        uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: 18
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Release
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      - name: Get version
        id: get_version
        run: echo ::set-output name=version::$(npm pkg get version | sed 's/"//g')
      - name: Create pull request
        uses: peter-evans/create-pull-request@v4
        with:
          branch: ci-release-v${{ steps.get_version.outputs.version }}
          # https://docs.github.com/en/actions/managing-workflow-runs/skipping-workflow-runs
          commit-message: 'ci(release): ${{ steps.get_version.outputs.version }}'
          title: 'ci(release): ${{ steps.get_version.outputs.version }}'
          token: ${{ secrets.GH_PAT }}
